USE [users_db]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21/09/2025 22:43:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [created_at]) VALUES (1, N'new_user', N'new.user@example.com', N'$2a$11$hJ39AiDjBh1ZTOfMtZKdHOK2sOosLCSSqS0y7A0KWnQxwOt3.h0N.', CAST(N'2025-09-14T14:55:17.797' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [created_at]) VALUES (2, N'mariorossi', N'mario@email.com', N'$2a$11$EdpQYbDphMbjRuY8uFEEpuWSiEUGv3LyF5DnOY.G4iK2RLePXaxj6', CAST(N'2025-09-14T20:40:58.787' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [created_at]) VALUES (3, N'mariorossi2', N'mario1@email.com', N'$2a$11$c6YThYJ09zX85tu4kWnpMOxcu0ZAw9GJio5fH.Ux30LV8jszh7kgm', CAST(N'2025-09-14T21:17:34.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164C1F0DDFB]    Script Date: 21/09/2025 22:43:54 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572F7F4A167]    Script Date: 21/09/2025 22:43:54 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
