USE [movies_db]
GO
/****** Object:  Table [dbo].[movies]    Script Date: 21/09/2025 22:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[genre] [nvarchar](100) NULL,
	[year] [int] NULL,
	[director] [nvarchar](255) NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
	[Duration] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[ReleaseYear] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21/09/2025 22:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[movies] ON 

INSERT [dbo].[movies] ([id], [title], [genre], [year], [director], [Description], [Price], [Duration], [Category], [ReleaseYear], [CreatedAt]) VALUES (10, N'Il Padrino', N'Drammatico, Crime', 1972, N'Francis Ford Coppola', N'Un patriarca della mafia trasferisce il controllo del suo impero criminale al riluttante figlio.', CAST(9.99 AS Decimal(10, 2)), 175, N'Classico', 1972, CAST(N'2025-09-15T21:20:23.8300000' AS DateTime2))
INSERT [dbo].[movies] ([id], [title], [genre], [year], [director], [Description], [Price], [Duration], [Category], [ReleaseYear], [CreatedAt]) VALUES (11, N'Forrest Gump', N'Drammatico, Romantico', 1994, N'Robert Zemeckis', N'La vita di un uomo con un basso quoziente intellettivo che riesce a partecipare a eventi storici.', CAST(8.99 AS Decimal(10, 2)), 142, N'Dramma', 1994, CAST(N'2025-09-15T21:20:23.8300000' AS DateTime2))
INSERT [dbo].[movies] ([id], [title], [genre], [year], [director], [Description], [Price], [Duration], [Category], [ReleaseYear], [CreatedAt]) VALUES (12, N'Pulp Fiction', N'Crime, Drammatico', 1994, N'Quentin Tarantino', N'Le storie di due sicari, un pugile e una coppia di rapinatori si intrecciano a Los Angeles.', CAST(9.49 AS Decimal(10, 2)), 154, N'Cult', 1994, CAST(N'2025-09-15T21:20:23.8300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[movies] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [Username], [Email], [PasswordHash], [CreatedAt]) VALUES (1, N'tuo_nome_utente', N'test@esempio.com', N'$2a$11$jyLResIVooy/d5q9NfO9xuHewCtaBBFtGI9pzvqs98rQ2WRqad2C2', CAST(N'2025-09-14T14:41:29.8098746' AS DateTime2))
INSERT [dbo].[users] ([Id], [Username], [Email], [PasswordHash], [CreatedAt]) VALUES (2, N'walter', N'test2@esempio.com', N'$2a$11$6rm0v4zB6EhfL4aNG.kOeuPCZH2y1vLAu2jNd8LDC/ukREkOOXLni', CAST(N'2025-09-14T14:45:58.6164147' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[movies] ADD  CONSTRAINT [DF_Movies_Price]  DEFAULT ((4.99)) FOR [Price]
GO
ALTER TABLE [dbo].[movies] ADD  CONSTRAINT [DF_Movies_Duration]  DEFAULT ((120)) FOR [Duration]
GO
ALTER TABLE [dbo].[movies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
