USE [rentals_db]
GO
/****** Object:  Table [dbo].[rentals]    Script Date: 21/09/2025 22:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](max) NULL,
	[movie_id] [int] NOT NULL,
	[rented_at] [datetime] NULL,
	[due_date] [datetime] NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[total_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rentals_db]    Script Date: 21/09/2025 22:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentals_db](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](max) NULL,
	[movie_id] [int] NOT NULL,
	[rented_at] [datetime2](7) NOT NULL,
	[due_date] [datetime2](7) NOT NULL,
	[returned_at] [datetime2](7) NULL,
	[total_price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_rentals_db] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21/09/2025 22:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[rentals] ON 

INSERT [dbo].[rentals] ([id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (1, N'9', 7, CAST(N'2025-09-15T10:02:12.867' AS DateTime), CAST(N'2025-09-22T10:02:12.867' AS DateTime), CAST(N'2025-09-16T13:37:22.9005387' AS DateTime2), CAST(7.99 AS Decimal(10, 2)))
INSERT [dbo].[rentals] ([id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (2, N'1', 12, CAST(N'2025-09-16T13:43:55.933' AS DateTime), CAST(N'2025-09-23T13:43:55.933' AS DateTime), CAST(N'2025-09-16T13:43:59.9373815' AS DateTime2), CAST(9.49 AS Decimal(10, 2)))
INSERT [dbo].[rentals] ([id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (3, N'1', 10, CAST(N'2025-09-16T13:46:15.247' AS DateTime), CAST(N'2025-09-23T13:46:15.247' AS DateTime), CAST(N'2025-09-16T13:50:48.9436473' AS DateTime2), CAST(9.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[rentals] OFF
GO
SET IDENTITY_INSERT [dbo].[rentals_db] ON 

INSERT [dbo].[rentals_db] ([Id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (1, N'1', 101, CAST(N'2025-09-14T19:04:03.2195890' AS DateTime2), CAST(N'2025-09-21T19:04:03.2196045' AS DateTime2), NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[rentals_db] ([Id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (2, N'1', 101, CAST(N'2025-09-14T19:08:25.6887508' AS DateTime2), CAST(N'2025-09-21T19:08:25.6887510' AS DateTime2), NULL, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[rentals_db] ([Id], [user_id], [movie_id], [rented_at], [due_date], [returned_at], [total_price]) VALUES (3, N'1', 101, CAST(N'2025-09-14T19:36:40.8412512' AS DateTime2), CAST(N'2025-09-21T19:36:40.8412514' AS DateTime2), NULL, CAST(5.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[rentals_db] OFF
GO
ALTER TABLE [dbo].[rentals] ADD  DEFAULT (getdate()) FOR [rented_at]
GO
ALTER TABLE [dbo].[rentals] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[rentals_db] ADD  DEFAULT ((0.00)) FOR [total_price]
GO
